@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
 
 
 body {
      font-family: "Lato", sans-serif;
      line-height: 1.6;
	  color: black;
  }

  .header {
      background-color: #047aed;
      color: #fff;
      padding: 20px;
      text-align: center;
  }

  .header h1 {
      margin: 0;
      font-size: 22px;
  }

  .header p {
      margin: 8px 0 0;
      color: white;
      font-size: 14px;
  }

  .container {
      max-width: 600px;
      margin: 30px auto;
      background-color: #fff;
      border-radius: 6px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      padding: 24px;
  }

  .greeting {
      margin-bottom: 24px;
  }

  .greeting strong {
      color: #222;
  }

  table {
      width: 100%;
      border-collapse: collapse;
      margin-bottom: 30px;
  }

  td {
      border: 1px solid #ddd;
      padding: 12px;
      vertical-align: top;
  }

  td:first-child {
      font-weight: bold;
      background-color: #f9f9f9;
      width: 40%;
  }

  .clinic-link {
      color: #047aed;
      text-decoration: none;
  }

  .buttons {
      text-align: center;
      margin-top: 10px;
  }

  .buttons button {
      background-color: #047aed;
      border: none;
      color: white;
      padding: 12px 20px;
      margin: 5px;
      font-size: 16px;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.3s ease;
  }

  .buttons button:hover {
      background-color: #369dff;
  }

  .footer {
      text-align: center;
      font-size: 14px;
      margin-top: 20px;
  }

  .footer a {
      color: #047aed;
      text-decoration: none;
      font-weight: bold;
  }